.navbar {
    /*untuk fleksibel*/
    display: flex;
    /*membuat border fleksibel*/
    border: 4px solid black; 
    flex-direction: row;

}

.top-bar{
    /*untuk fleksibel*/
    display: flex;
    /*membuat border fleksibel*/
    border: 4px solid black; 
    flex-direction: row;

}

.top-content-wrapper{
    border: 2px;
    align-items: center;
}

.container > div{
    background-color: rgb(182, 127, 26);
}

html, body{
    background-color: rgb(3, 97, 53);
    margin: 20px;
}

.top-navbar > div{
    color: black
    
}

.jam{
	
    font-size: 20px;
    position: static;
    text-align: left;
    color: #000;

.row > div{
    background-color: rgb(104, 184, 128);
}

.bottom-site > div{
    background-color: grey
}

#leftMenu{
    padding : 10px;
    height: 75px;
    border: #000FF dashhed 1px;
}

#leftMenu ul{
    list-style: none;
    margin-left: -20px;
}

/* kontekstual */
ul li{ color: black(22, 21, 21)}
h4{color: black}



/*class*/
.top-navbar{text-decoration: underline}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px) {
	
    .navbar {
        width: 100%;
	}
	.top-bar {
		width: 25%;
		
	}
    .top-content-wrapper{
		width: 68%;
		float: right;
	}
	
	.container {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}


/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {
    
    .navbar {
        width: auto
	}
	.top-bar {
		width: auto
		
	}
    .top-content-wrapper{
		width: auto;
		float: right;
	}
	
	.container {		
		width: auto;
		float: none;
	}
}